<div class="col-md-12">
  <div class="group">
    <%= link_to("New 101 group", new_group_path, class: "btn btn-primary pull-right") %>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td># 101</td>
        <td>Title 101</td>
        <td>Description 101</td>
      </tr>
    </thead>
    <tbody>
      <% @groups.each do |group| %>
        <tr>
          <td>#</td>
          <td><%= link_to(group.title, group_path(group)) %></td>
          <td><%= group.description %></td>
          <td>
              <%= link_to("Edit 101", edit_group_path(group), class: "btn btn-sm btn-default")%>
              <%= link_to("Delete 101", group_path(group),    class: "btn btn-sm btn-default",
                          method: :delete, data: { confirm: "Are you sure? 101" } )%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
